#box {
  color: blue;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: lightgray;
}
#list {
  color: blue;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: lightgray;
}
.newClass {
  color: blue;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: lightgray;
}
